
.customer-group-attribute-manage {
	margin:0;
}
.customer-group-attribute-manage .hd {
	padding:5px;
	background-color:#efefef;
	margin-bottom:1px;
}
.customer-group-attribute-manage .bd {
    padding:5px;
    padding-left:20px;

}