
#submenu {
    clear: both;
    margin: 0;
    padding-top: 0;
    text-align: left;
    vertical-align: middle;
    font-size: 10px;
    height: 20px;
    border: 0px;
    background-color: #C8D7E6;
}
#submenu ul {
    margin-left: 0;
    padding-left: 0;
    display: inline;
}

#submenu ul li {
    list-style: none;
    display: inline;
    padding:4px 10px 4px 10px;
    float:left;
}

#submenu ul#shortcutmenu {
    float:right;
}
#submenu ul#shortcutmenu li {
}


#submenu li:hover {
    background-color:#5783A6;
}

#submenu ul li.first {
    margin-left: 0;
    border-left: none;
    list-style: none;
    display: inline;
}
#submenu li.current {
    /*background-image: url(../images/bg/menu.png);*/
    background: url(../images/bg/bg-sprite.jpg) repeat-x 0 -52px;
}

#submenu li.iconized {
    padding:1px 4px 1px 4px;
}

#submenu li a {
    color: #000099;
    font-size: 10px;
    font-weight: normal;
}


#submenu li a:hover {
    text-decoration:none;
    color:#fff;
}
#submenu li.current a {
    color:#fff;
}


#subsubmenu {
    clear: both;
    margin: 0;
    padding-top: 0;
    text-align: left;
    vertical-align: middle;
    font-size: 10px;
    height: 20px;
    border: 0px;
    background-color: #C8D7E6;
    background-color:#EFEFEF;
}
#subsubmenu ul {
    margin-left: 0;
    padding-left: 0;
    display: inline;
}

#subsubmenu ul li {
    list-style: none;
    display: inline;
    padding:4px 10px 4px 20px;
    float:left;
}

#subsubmenu ul#shortcutmenu {
    float:right;
}
#subsubmenu ul#shortcutmenu li {
}


#subsubmenu li:hover {
    background-color:#5783A6;
}

#subsubmenu ul li.first {
    margin-left: 0;
    border-left: none;
    list-style: none;
    display: inline;
}
#subsubmenu li.current {
    /*background-image: url(../images/bg/menu.png);*/
    background: url(../images/bg/bg-sprite.jpg) repeat-x 0 -52px;
}

#subsubmenu li.iconized {
    padding:1px 4px 1px 4px;
}

#subsubmenu li a {
    color: #000099;
    font-size: 10px;
    font-weight: normal;
}


#subsubmenu li a:hover {
    text-decoration:none;
    color:#fff;
}
#subsubmenu li.current a {
    color:#fff;
}
